*.pyc
*.pyo
*.db
*.project
*.pydevproject
.DS_Store
.coverage
build
django_startproject.egg-info
uploads/*
logs
/.settings/*.prefs
/docs/business_plan/*.aux
/docs/business_plan/*.log
/docs/business_plan/*.gz
/static/media/
downloads
CACHE
*~
/ipython_log.py
.idea/
/data/kh_unit_test_coverage.xml
/data/kh_xunit.xml
/data/kh_xunit.html
/templates/khutils/testutils/kh_xunit.html
db.sqlite3