<div class="clearfix">
    <md-input-container class="input-container">
        <input [(ngModel)]="filter.search" (ngModelChange)="onChange(filter)" mdInput placeholder="Filter movie"
               value="">
    </md-input-container>
</div>
<table class="table">
    <thead class="table-head">
    <tr>
        <th>Title</th>
        <th>Release date</th>
        <th>Genre</th>
        <th>Directors</th>
        <th>Actors</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies">
        <td>
            <img *ngIf="movie.image_url" src="{{ movie.image_url }}" height="48" alt="{{ movie.title }}">
            {{ movie.title }}
        </td>
        <td>{{ movie.release_date | date:'mediumDate' }}</td>
        <td>
            <span *ngFor="let genre of movie.genres">
                {{ genre.name }} <br>
            </span>
        </td>
        <td>
            <span *ngFor="let director of movie.directors">
                {{ director.name }} <br>
            </span>
        </td>
        <td>
            <span *ngFor="let actor of movie.actors">
                {{ actor.name }} <br>
            </span>
        </td>
    </tr>
    </tbody>
</table>