<div class="clearfix">
    <md-input-container class="input-container">
        <input [(ngModel)]="filter.search" (ngModelChange)="onChange(filter)" mdInput placeholder="Filter movie"
               value="">
    </md-input-container>
</div>
<div class="table-wrapper">
    <table class="table">
    <thead class="table-head">
    <tr>
        <th>Actions</th>
        <th>Title</th>
        <th>Release date</th>
        <th>Genre</th>
        <th>Directors</th>
        <th>Actors</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let movie of movies.results;let i = index" [attr.data-index]="i">
        <td>
            <button md-button (click)="editMovie(movie.slug, true, i)">
                <md-icon>mode_edit</md-icon>
            </button>
        </td>
        <td>
            <img *ngIf="!movie.image && !movie.image_url" height="48"
                 src="http://via.placeholder.com/350x475" alt="{{ movie.title }}">
            <img *ngIf="!movie.image && movie.image_url" height="48" src="{{ movie.image_url }}"
                 alt="{{ movie.title }}">
            <img *ngIf="movie.image  && !movie.image_url" height="48" src="{{ movie.image }}" alt="{{ movie.title }}">
            <strong>{{ movie.title }}</strong>

        </td>
        <td>{{ movie.release_date | date:'mediumDate' }}</td>
        <td>
            <span *ngFor="let genre of movie.genres">
                {{ genre.name }} <br>
            </span>
        </td>
        <td>
            <span *ngFor="let director of movie.directors">
                {{ director.name }} <br>
            </span>
        </td>
        <td>
            <span *ngFor="let actor of movie.actors">
                {{ actor.name }} <br>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</div>

<div class="icons" style="text-align: right;margin: 20px auto;">
    <button *ngIf="movies.previous" md-button class="md-icon-button"
            (click)="getMovies(filter, movies.previous)">
        <md-icon>chevron_left</md-icon>
        Previous
    </button>
    <button md-button class="md-icon-button"
            (click)="getMovies(filter, movies.next)">
        Next
        <md-icon>chevron_right</md-icon>
    </button>
</div>