<md-toolbar class="md-whiteframe-glow-z1" color="primary">
    <div class="title">
        Movies and more.
    </div>
    <div class="icons">
        <span mdTooltip="View as cards" mdTooltipPosition="above">
                <button md-button class="md-icon-button"
                        [ngClass]="{'mat-accent': view_as == 'cards'}"
                        (click)="viewAs('cards')">
                    <md-icon>view_module</md-icon>
                </button>
            </span>
        <span mdTooltip="View as list" mdTooltipPosition="above">
                <button md-button class="md-icon-button"
                        [ngClass]="{'mat-accent': view_as == 'list'}"
                        (click)="viewAs('list')">
                    <md-icon>list</md-icon>
                </button>
            </span>
    </div>
</md-toolbar>
<md-card class="card-container {{ view_as }}" >
    <md-card-content>
        <movies-list *ngIf="view_as == 'list'"></movies-list>
        <movies-card *ngIf="view_as == 'cards'"></movies-card>
    </md-card-content>
</md-card>